$bg-color-1: #c02942;
$text-color-1: #ffe28a;
@import "mixins";
html {
  max-width: 100%;
  overflow-x: hidden;
}

@import "fonts";
body {
  background-color: $bg-color-1;
  color: $text-color-1;
  -webkit-backface-visibility: hidden;
  transition: all 1.3s ease;
  .main {
    padding-top: 70px;
  }
  .header {
    h1 {
      font-size: 50px;

      @include desktop {
        font-size: 80px;
        //color: $text-color-1;
      }
    }
    text-align: center;
  }
  .navigation {
    position: absolute;
    justify-content: space-around;
    text-align: center;
    font-size: 11vh;
    font-weight: 1000;
    top: 45%;
    @include tablet {
      top: 35%;
      font-size: 14vw;
    }
    @include desktop {
      top: 35%;
      font-size: 14vw;
    }
    align-self: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    // perspective: 1000px;
    // -webkit-transform: translate(-47%,-50%);
    // -ms-transform: translate(-47%,-50%);
    // transform: translate(-47%,-50%);
    .navigation_container {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      margin: 0;
      @include desktop {
        flex-direction: row;
      }
      div {
        flex: 1;
        max-width: 33.3%;
      }
    }
    a,
    a:link,
    a:visited {
      outline: none;
      border: none;
      background-color: transparent;
      display: block;
      color: $text-color-1;
      text-decoration: none;
      transition: all 1.3s ease;
      //letter-spacing: -3px;
      @include desktop {
        letter-spacing: -5px;
      }
      -webkit-backface-visibility: hidden;
      &:hover {
        transform: scale(1.1, 1.1);
        /*you didn't have the semi-colons here*/
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale (1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        letter-spacing: 2px;
      }
    }
  }
}
.seashell {
  color: seashell !important;
}
