@import "fonts";
.header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    display: block;
    align-content: center;
    padding: auto;
    text-align: center;
    .title {
        font-size: 100px;
    }
}